---
extends: default

ignore: |
    collections/

rules:
    line-length:
        max: 160
        level: warning
    truthy:
        allowed-values: ["true", "false"]
        check-keys: false
    # Settings below are required by ansible-lint
    comments:
        min-spaces-from-content: 1
    comments-indentation: false
    braces:
        forbid: true
        max-spaces-inside: 1
    octal-values:
        forbid-implicit-octal: true
        forbid-explicit-octal: true
    quoted-strings: disable
    indentation:
        spaces: 4
    trailing-spaces: enable
