[defaults]
roles_path           = ansible/roles
collections_path     = ./collections:~/.ansible/collections
inject_facts_as_vars = True
result_format        = yaml
callbacks_enabled    = ansible.builtin.timer, community.general.selective
